* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Young Serif", serif;
}
.container {
  padding: 50px;
}

.section-one {
  background-color: black;
  color: white;
  padding: 20px;
}

.section-one__name {
  font-size: 60px;
}

.section-one__role {
  font-size: 25px;
  margin-top: 10px;
}

.section-one__contact {
  background-color: orangered;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  display: inline-block;
  margin-top: 10px;
}
.section-two,
.section-three,
.section-four,
.section-five {
  margin-top: 20px;
}
.section-two__desc,
.section-three__desc,
.section-four__desc,
.section-five__desc {
  margin-top: 10px;
}

.section-three {
  background-color: #6462fd;
  display: inline-block;
  padding: 20px;
  height: 200px;
  border-radius: 10px;
  vertical-align: top;
}

.section-three li,
.section-four li {
  list-style: none;
}

.section-four {
  background-color: #fe7517;
  color: black;
  padding: 20px;
  display: inline-block;
  height: 200px;
  border-radius: 10px;
  vertical-align: top;
  margin-bottom: 20px;
}

.section-5 {
  background-color: black;
  color: white;
  padding: 20px;
}
.section-5__title a {
  color: skyblue;
}
.contact-form {
  margin-top: 20px;
}
.contact-form--input,
.contact-form--textarea,
.contact-form--submit {
  margin-top: 10px;
  margin-bottom: 30px;
}

.contact-form--input {
  padding: 10px;
  border: none;
  border-bottom: 1px solid black;
}

.contact-form--textarea {
  padding: 10px;
  border: none;
  border: 1px solid black;
}

.contact-form--submit {
  padding: 10px 20px;
  background-color: orangered;
  color: black;
  border: none;
}
